body{margin: 0px; font-family: Arial,Tahoma,Helvetica,sans-serif;;background-color:#F0F0F0;
}
a{ text-decoration: none;color:black;}
.header{
width: 100%;
height: 100%;
float: left;
background-image: url(https://new.axilthemes.com/demo/template/etrade/assets/images/preview/banner-bg.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.header_name{
float: left;
width:100%;
height:100%;
background-color:#262626;
}
.name {
width: 60%;
height: 100%;
float: left;
}
.name i{
font-size:40px;
color:white;
margin-left: 90px;
}
.name a{
font-size:52px;
font-family:Brush Script MT;
color:#82b440;
}
.name a:hover{
font-size: 54px;
}
.login{
float:left;
width: 40%;
}
.login a
{
font-size:23px;
color:#82b440;
float: right;
margin-right: 90px;
padding-top:5px;
}

.header_menu{ width: 70%;
margin:1.5% 15%;
float: left;
background-color:white;
border-radius:15px;
height: 60px;
padding-top:18px;
border:1px solid green;
}
.header_menu h2{
float: left;
width: 22%;
color:#3577f6;
font-size:43px;
margin-left: 60px;
}
.menu{
padding: 0px;
width:70%;
float: left;
}
.user{
display:block;
}
.link{
display:block;
}
.quanly_tv{
display:none;
width:150px;
height:120px;
padding-top: 1%;
padding-left:1%;
background-color:rgba(0,0,0,0.6);
margin-top:2%;
margin-left:23%;
float:left;
position: absolute;
}
.quanly_tv a{
float: left;
width: 100%;
font-size:16px;
margin-top: 10px;
color: white;
}
.quanly:hover .quanly_tv {display:block;}
.menu_name{ float: left;
    width:33%;
    font-size:22px;
    text-align: center;
    }
ul,li { list-style: none;
    list-style-position:inside;}
.menu_sach{
    display:none;
    text-align:left;
    width:160px;
    height:270px;
    font-size: 18px;
    background-color: white;
    float: left;
    margin-left: 3%;
    position: absolute;
    }
.menu_sach a{
    float: left;
    margin: 0 9%;
    width: 70%;
    margin-top:15px;
    margin-bottom: 8px;}
.menu_name:hover ul {display: block;}
.menu_sach a:hover{color: #FF497C;}
.search{ width:30%;
margin-top:8px;
float: left;}
input{width:70%;
float: left;
height:28px;
border: 1px solid #0b0707db;
border-radius: 7px 0 0 7px;}
.search button{ float: left;
height:32px;
color: #82b440;
background-color: white;
font-size:20px;
border: 1px solid #0b0707db;
border-radius: 0 7px 7px 0;}
.content{
float: left;
width: 76%;
height:1000px;
margin-left: 12%;
margin-bottom: 5%;
background-color: white;
text-align: center;
}
.content h1{
margin-top: 40px;
}
.left
{
width:25%;
height:40%;
margin-left:8%;
margin-top: 95px;
border: solid 2px purple;
border-radius:7px;
float: left;
}
.right{
height:100%;
margin-top:50px;
width:50%;
 float: left;
 margin-left:8%;
}
.nd{
text-align: left;
float: left;
font-size: 20px;
margin-top:20px;
 width: 100%;
}
p{margin: 0;}
.dangky{
font-size: 20px;
border-radius:10px;
color:white;
background-color:#ffac13;
border: white;
width:35%;
height:5%;
margin-top: 25px;
}
button{
cursor: pointer;}

.footer{
float: left;
width: 100%;
background-color: #000000;
height:100%;
padding-bottom:30px;
}
.footer_left{margin-left:6%;width: 20%;}
.footer_left,.footer_bet{
float:left;
color: white;
}
.footer_bet{width: 25%;}
.footer_bet a{
float: left;
width: 100%;
color: white;
margin-top: 8px;
}
.footer_bet a:hover{color: #FF497C;}
.footer p{
margin:9px 0 0 0;
}
.footer h2, h4{
color:#ffac13;
margin-top: 20px;
margin-bottom: 10px;
}
.footer_right{float: left;
margin-top: 1%;
border-left:1px solid white;
width: 24%;}
.footer_right p{float: left;
font-size: 23px;
color:white;
margin-left:3%;
padding-bottom:3%;}
.foot{
float: left;
width: 100%;
margin-left: 10%;
}
.mau{
float: left;
color: #ffac13;
margin-left: 10%;}
